*{
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
}

.header  {
  background-color: papayawhip;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.left-links {
  display: flex;
  justify-content: flex-end;
}

ul{
  display: flex;
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
}